Графики/
Графики.rar
.ipynb_checkpoints/
__pycache__
Absorptivity_of_Chrome.ipynb
Absorptivity_of_Titan.ipynb
Absorptivity_of_Chrome_dimless.ipynb
Absorptivity_of_Titan_dimless.ipynb
desktop.ipynb_checkpoints